<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/qna-main-none.css}">
</head>
<body>
<div class="wrap">
    <div class="topbar">
        <a class="back" th:href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path
                        d="M36 19.125H4.39453L18.2285 32.959L16.6465 34.541L0.105469 18L16.6465 1.45898L18.2285 3.04102L4.39453 16.875H36V19.125Z"
                        fill="black" />
            </svg>
        </a>
    </div>
    <div class="tabs">
        <a class="tab" href="#">내 정보</a>
        <a class="tab" href="#">기록보관함</a>
        <a class="tab-here" href="#">Q&amp;A</a>
    </div>
    <div class="actions">
        <button class="choose" href="#">차 추천받기</button>
        <button class="logout" href="#">로그아웃</button>
    </div>
</div>
<div class="new-qna">
    <p>아직 질문 내역이 없어요. 새로운 질문을 남겨보세요!</p>
</div>
<div class="new-qna-btn">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
        <rect width="28" height="28" rx="14" fill="black" fill-opacity="0.2"/>
        <rect x="13.3594" y="6.5" width="1.28" height="16" fill="white"/>
        <rect x="22" y="13.772" width="1.28" height="16" transform="rotate(90 22 13.772)" fill="white"/>
    </svg>
    <p><a th:href="#">질문 남기기</a></p>
</div>
</body>
</html>