<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Question</title>
    <link rel="stylesheet" th:href="@{/css/qna-new-question.css}">
</head>
<body>
<div class="wrap">
    <div class="topbar">
        <a class="back" th:href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path
                        d="M36 19.125H4.39453L18.2285 32.959L16.6465 34.541L0.105469 18L16.6465 1.45898L18.2285 3.04102L4.39453 16.875H36V19.125Z"
                        fill="black" />
            </svg>
        </a>
    </div>
    <div class="tabs">
        <a class="tab" href="#">내 정보</a>
        <a class="tab" href="#">기록보관함</a>
        <a class="tab-here" href="#">Q&amp;A</a>
    </div>
    <div class="actions">
        <a href="#">차 추천받기</a>
        <a class="logout" href="#">로그아웃</a>
    </div>
</div>
<div class="container">
    <div class="q-label">Q</div>
    <div class="question-form">
        <div class="q-inputs">
            <input id="title" type="text" class="title-input" placeholder="제목을 입력하세요" />
            <textarea class="content-input" placeholder="내용을 입력하세요"></textarea>
        </div>
    </div>
</div>
<div class="q-btn">
    <button class="question-btn">질문하기</button>
</div>
</body>
</html>