
<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Memo main</title>
    <link rel="stylesheet" th:href="@{/css/memo-main.css}">
    <script src="/js/memo-main.js" defer></script>
</head>
<body>
<div class="wrap">
    <div class="topbar">
        <a class="back" href="#" aria-label="뒤로 가기">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
                <path
                        d="M36 19.125H4.39453L18.2285 32.959L16.6465 34.541L0.105469 18L16.6465 1.45898L18.2285 3.04102L4.39453 16.875H36V19.125Z"
                        fill="black" />
            </svg>
        </a>
    </div>
    <div class="tabs">
        <a class="tab" th:href="@{/userdata/mypage}">내 정보</a>
        <a class="tab-here" th:href="@{/userdata/mypage/memo/main}">기록보관함</a>
        <a class="tab" href="#">Q&amp;A</a>
    </div>
    <div class="actions">
        <!-- 차 추천받기 -->
        <form th:action="@{/choice}" method="get">
            <button class="choose" type="submit">차 추천받기</button>
        </form>

        <!-- 로그아웃 -->
        <form th:action="@{/logout}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <button  type="submit" class="logout">로그아웃</button>
        </form>
    </div>

</div>
<div class="container">
    <!-- ----------------------------------------------------------------------- 달력 -->
    <div class="calendar" id="calendar">
        <div class="cal-header">
            <div class="cal-title" id="calTitle">2025년 9월</div>
            <div class="nav">
                <button id="prevBtn" aria-label="이전 달"><</button>
                <button id="nextBtn" aria-label="다음 달">></button>
            </div>
        </div>

        <!-- 요일 헤더 -->
        <div class="cal-grid" id="dowRow"></div>

        <!-- 날짜 그리드 (6주) -->
        <div class="cal-grid" id="daysGrid"></div>
    </div>
    <!-- ------------------------------------------------------------------------- 달력 -->
    <div th:each="data : ${userDataList}">
        <div class="record">
            <div class="diary">
                <p class="date" th:text="${data.date} + '의 기록'"></p>
                <span class="divider" aria-hidden="true"></span>
                <p class="tea" th:text="${data.tea.name}"></p>
            </div>

            <div class="memo">
                <textarea th:id="'memo-' + ${data.id}" th:text="${data.memo}" readonly></textarea>
            </div>

            <form th:action="@{/userdata/memo/edit/{userDataId}(userDataId=${data.id})}" method="get">
                <button type="submit" class="update-btn">수정</button>
            </form>

        </div>
    </div>

</body>
</html>


