<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메모 수정</title>
    <link rel="stylesheet" th:href="@{/css/memo-update.css}">
</head>
<body>
<form th:action="@{/userdata/memo/{userDataId}(userDataId=*{id})}" method="post">
    <div class="container">
        <div class="record">
            <div class="diary">
                <p class="date" th:text="${userData.date} + '의 기록'"></p>
                <span class="divider"></span>
                <p class="tea" th:text="${userData.tea.tName}"></p>
            </div>

            <div class="memo">
                <textarea name="memo" th:text="*{memo}" placeholder="오늘의 기분이나 상태를 적어보세요 :)"></textarea>
            </div>

            <div class="buttons">
                <button class="btn primary" type="submit">완료</button>
                <a class="btn ghost" th:href="@{/tea/mypage/memo/main}">취소</a>
            </div>

            <div th:if="${message}" class="message" th:text="${message}"></div>
        </div>
    </div>
</form>
</body>
</html>
