html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
        Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
        'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.main-photo {
    position: relative;
    overflow: hidden;
}

.main-photo .bg {
    width: 100%;
    height: auto;
    /* 세로는 자동 → 비율 유지 */
    object-fit: contain;
    /* contain으로 비율 맞춰서 전체 표시 */
    display: block;
}

.photo-opacity {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}


.main-title h1 {
    /* 중복/충돌 제거: 한 번만 명확히 지정 */
    display: block;
    /* flex 금지 → line-height 정상 동작 */
    margin: 0 0 1rem;
    /* 상단 흰띠 방지(=margin-top 0) */
    font-size: 52px;
    /* 또는 font-size: 3.25rem; */
    line-height: 1.6;
    /* 1.3~1.5 사이에서 조절 */
    font-weight: 600;
    color: #fff;
    margin-bottom: 67px;
}
.mood-btn, .state-btn {
    color: #333;
    font-family: Pretendard;
    font-size: 52px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 24px 64px;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    gap: 10px;
    border-radius: 24px;
    background: rgba(241, 243, 245, 0.8);
    transition: background-color 0.4s ease,
        /* 0.6초 동안 색상 변화 */
        transform .15s ease,
        box-shadow .2s ease;
    cursor: pointer;
    margin: 90px;
}

.mood-btn:hover, .state-btn:hover {
    background: #9A8D82;
    color: #fff;
}