:root {
    --bg: #F1F1F1;
}

* {
    box-sizing: border-box
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    background: var(--bg);
}

.wrap {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 80px 100px 0;
}

.topbar {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    aspect-ratio: 1/1;

}

.tabs {
    display: flex;
    align-items: center;
    gap: 48px;
}

.tab {
    color: #888;
    font-family: Pretendard;
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
}

.tab-here {
    color: #BFAE9F;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.tab:hover {
    color: #BFAE9F;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.actions {
    margin-left: auto;
    /* 오른쪽 끝으로 밀기 */
    display: flex;
    gap: 60px;
    font-size: 18px;
}

.actions .choose {
            appearance: none;
            border: none;
            color: #333;
            font-family: Pretendard;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-decoration: none;
            cursor: pointer;
        }

        .actions .logout {
            appearance: none;
            border: none;
            color: #D93D04;
            font-family: Pretendard;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            cursor: pointer;
        }

.new-qna {
    margin-top: 300px;
    text-align: center;
}

.new-qna p {
    color: #999;
    font-family: Pretendard;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.new-qna-btn {
    display: flex;
    align-items: center;
    /* 세로 가운데 정렬 */
    justify-content: center;
    /* 가로 가운데 정렬 (원하시면) */
    gap: 10px;
    /* 아이템 사이 간격 */
}

.new-qna-btn a {
    text-decoration: none;
    color: #999;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}