<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>State 체크리스트</title>
</head>
<body>
<h1>상태(State) 체크리스트</h1>

<!-- 에러 메시지 -->
<div th:if="${error}" style="color:red;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/state/submit}" method="post">
    <div th:if="${error}" style="color:red;">
        <p th:text="${error}"></p>
    </div>

    <p>상태를 선택하세요:</p>
    <div>
        <input type="radio" name="checkedId" value="1"> 상태 1<br>
        <input type="radio" name="checkedId" value="2"> 상태 2<br>
        <input type="radio" name="checkedId" value="3"> 상태 3<br>
        <input type="radio" name="checkedId" value="4"> 상태 4<br>
        <input type="radio" name="checkedId" value="5"> 상태 5<br>
        <input type="radio" name="checkedId" value="6"> 상태 6<br>
        <input type="radio" name="checkedId" value="7"> 상태 7<br>
        <input type="radio" name="checkedId" value="8"> 상태 8<br>
    </div>

    <button type="submit">제출</button>
</form>
</body>
</html>
