<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카페 검색</title>
    <!-- Daum 우편번호 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<h1>카페 검색</h1>

<!-- 에러 메시지 -->
<p th:if="${error}" th:text="${error}" style="color:red;"></p>

<form action="/cafe/map" method="post">
    <label for="keyword">차 키워드:</label>
    <input type="text" id="keyword" name="keyword" placeholder="예: 녹차" required>
    <br><br>

    <label for="address">주소:</label>
    <input type="text" id="address" name="address" placeholder="주소 검색" readonly required>
    <button type="button" onclick="searchAddress()">주소 검색</button>
    <br><br>

    <button type="submit">검색</button>
</form>

<script>
    function searchAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 사용자가 선택한 주소를 input에 넣어줌
                document.getElementById('address').value = data.address;
            }
        }).open();
    }
</script>
</body>
</html>
