<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카페 지도</title>
</head>
<body>
<h1 th:text="'선택 차: ' + ${keyword}">카페 지도</h1>

<table border="1">
    <tr>
        <th>카페명</th>
        <th>주소</th>
        <th>거리(m)</th>
        <th>길안내</th>
    </tr>
    <tr th:each="dto : ${dto}">
        <td th:text="${dto.name}"></td>
        <td th:text="${dto.address}"></td>
        <td th:text="${dto.distance}"></td>
        <td><a th:href="${dto.directionURL}" target="_blank">길안내</a></td>
    </tr>
</table>

<a href="/cafe/search">다시 검색</a>
<a href="user/my">마이페이지</a>
<a href="/main">메인화면</a>
</body>
</html>
