<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/mood_state.css}">
</head>
<body>
<div class="main-photo">
    <img th:src="@{/img/background.jpg}" alt="배경사진" class="bg">
    <div class="photo-opacity">
        <div class="main-title">
            <h1>오늘은 어떤 하루인가요?<br>기분이나 상태 중 하나를 선택해주세요</h1>
        </div>
        <div>
            <a class="mood-btn" th:href="@{/moodCheck}">기분</a>
            <a class="state-btn" th:href="@{/stateCheck}">상태</a>
        </div>
    </div>
</div>
</body>
</html>